.third {
    border-color: $blue;
    color: #fff;
    box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
    transition: all 150ms ease-in-out;
    &:hover

{
    box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
}
}
