.footerlinks {
    color: #2279EA;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background: #a42525;
}

#footer2 {
    background: #1b335c;
}

#Button2 {
    width : 200px;
}

.responsive {
    width: 100%;
    height: auto;
}

svg {
    width: 70px;
    height: 70px;
}

    svg:hover {
        fill: navy  ;
    }

label {
    color: #FFFFFF;
}
h3{
    color : #FFFFFF;
}
h4 {
    color: #FEFCFF;
}
body {
    background-image: url('../imgs/c8e0e0.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#userloginbox {
    background:;
}
#userlogin{
    background:Transparent;
}
#adminloginbox {
    background:;
}
#adminlogin {
    background: Transparent;
}
#usersignupbox {
    background:;
}
#usersignup {
    background: Transparent;
}
#Appbox {
    background:;
}
#App{
    background:Transparent;
}