#loginbox {
    background: ;
}

.footerlinks {
    color: #2279EA;
    text-decoration: none !important;
}

.footerlinks:hover {
        color: #ffd800;
    }

#mainfooter {
    background: #1b335c;
}

#Button2 {
    width : 200px;
}

.responsive {
    width: 100%;
    height: auto;
}

#check {
    position: fixed;
    top: 20%;
}

label {
    color: #000000;
}

h3 {
    color: #000000;
}

h4 {
    color: #000000;
}

input[type="radio"] {
    margin: 0 5px 0 5px;
    background-image: url('../imgs/WhatsApp Image 2021-10-07 at 11.35.52 PM.png');
}

input[type=file]::file-selector-button {
    border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #a29bfe;
    transition: 1s;
}

input[type=file]::file-selector-button:hover {
        background-color: #81ecec;
        border: 2px solid #00cec9;
    }


body {
    background-image: url('../imgs/c8e0e0.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -10000px;
    overflow: hidden;
}

.control, fieldset {
    margin: 6px 0;
}
.required {
    color: red;
}