.footerlinks {
    color: #2279EA;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800;
    }

#footer1 {
    background: #a42525;
}

#footer2 {
    background: #1b335c;
}
